In [34]:
import pandas as pd 
import numpy as np

In [35]:
df = pd.read_csv('WQI_Parameter_Scores_1994-2013.csv')

In [36]:
df

,Station,Station Name,Year,Overall WQI,WQI FC,WQI Oxy,WQI pH,WQI TSS,WQI Temp,WQI TPN,WQI TP,WQI Turb,Location 1
0,16A070,Skokomish R nr Potlatch,1996.0,87,91,85,95,78,81,99,84,69,POINT (-123.1771 47.3098)
1,16A070,Skokomish R nr Potlatch,1997.0,86,78,84,77,85,90,99,72,80,POINT (-123.1771 47.3098)
2,16A070,Skokomish R nr Potlatch,1998.0,75,90,79,88,61,90,98,71,49,POINT (-123.1771 47.3098)
3,16A070,Skokomish R nr Potlatch,1999.0,87,88,80,88,75,95,100,79,71,POINT (-123.1771 47.3098)
4,16A070,Skokomish R nr Potlatch,2000.0,95,93,86,96,84,90,100,84,87,POINT (-123.1771 47.3098)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
966,23A070,Chehalis R @ Porter,2013.0,62,85,89,92,68,68,52,58,75,POINT (-123.3138 46.9393)
967,23A160,Chehalis R @ Dryad,2013.0,65,76,78,96,78,65,77,73,81,POINT (-123.2501 46.6309)
968,24B090,Willapa R nr Willapa,2013.0,80,78,87,91,78,78,57,69,82,POINT (-123.6535 46.6501)
969,24F070,Naselle R nr Naselle,2013.0,79,67,88,94,87,77,67,88,93,POINT (-123.7468 46.3729)
970,16A070,Skokomish R nr Potlatch,1995.0,93,84,85,96,93,84,98,91,92,POINT (-123.1771 47.3098)

In [37]:
df['Station Name'].value_counts()

Station Name
Skokomish R nr Potlatch       20
Okanogan R @ Malott           20
Cedar R @ Logan St/Renton     20
Duckabush R nr Brinnon        20
Nooksack R @ No Cedarville    20
                              ..
Humptulips R nr Humptulips     1
Chehalis R @ Porter            1
Chehalis R @ Dryad             1
Willapa R nr Willapa           1
Naselle R nr Naselle           1
Name: count, Length: 70, dtype: int64

In [38]:
df.columns

Index(['Station', 'Station Name', 'Year', 'Overall WQI', 'WQI FC', 'WQI Oxy',
       'WQI pH', 'WQI TSS', 'WQI Temp', 'WQI TPN', 'WQI TP', 'WQI Turb',
       'Location 1'],
      dtype='object')

In [39]:
import pandas as pd
import numpy as np

# Assuming df is your original DataFrame
# Specify the number of times you want to increase the dataset
augmentation_factor = 5

# Perform data augmentation in a loop
for _ in range(augmentation_factor - 1):
    # Create a copy of the DataFrame and add noise to the numeric_column
    augmented_df = df.copy()
    
    # Select random values for 'Station', 'Station Name', 'Year', and 'Location 1' from the original dataset
    random_indices = np.random.choice(len(df), len(augmented_df), replace=True)
    augmented_df[['Station', 'Station Name', 'Year', 'Location 1']] = df.loc[random_indices, ['Station', 'Station Name', 'Year', 'Location 1']].values
    
    # Modify the code to add noise to the relevant numeric columns in your DataFrame
    numeric_columns = ['Overall WQI', 'WQI FC', 'WQI Oxy', 'WQI pH', 'WQI TSS', 'WQI Temp', 'WQI TPN', 'WQI TP', 'WQI Turb']
    for column in numeric_columns:
        augmented_df[column] = augmented_df[column] + 0.01 * np.random.randn(len(augmented_df))
    
    # Concatenate the augmented DataFrame to the original DataFrame
    df = pd.concat([df, augmented_df], ignore_index=True)

# Display the augmented DataFrame
print(df)

      Station              Station Name    Year  Overall WQI     WQI FC  \
0      16A070   Skokomish R nr Potlatch  1996.0    87.000000  91.000000
1      16A070   Skokomish R nr Potlatch  1997.0    86.000000  78.000000
2      16A070   Skokomish R nr Potlatch  1998.0    75.000000  90.000000
3      16A070   Skokomish R nr Potlatch  1999.0    87.000000  88.000000
4      16A070   Skokomish R nr Potlatch  2000.0    95.000000  93.000000
...       ...                       ...     ...          ...        ...
15531  25F060         Mill Cr. nr mouth  2011.0    61.979560  85.020537
15532  10A070  Puyallup R @ Meridian St  2007.0    65.000532  76.004566
15533  07D050    Snoqualmie R nr Monroe  2005.0    80.001807  77.992214
15534  48A140          Methow R @ Twisp  2001.0    79.004809  66.986762
15535  31A070     Columbia R @ Umatilla  2007.0    93.006331  84.006436

         WQI Oxy     WQI pH    WQI TSS   WQI Temp     WQI TPN     WQI TP  \
0      85.000000  95.000000  78.000000  81.000000   99.000000  84.000000
1      84.000000  77.000000  85.000000  90.000000   99.000000  72.000000
2      79.000000  88.000000  61.000000  90.000000   98.000000  71.000000
3      80.000000  88.000000  75.000000  95.000000  100.000000  79.000000
4      86.000000  96.000000  84.000000  90.000000  100.000000  84.000000
...          ...        ...        ...        ...         ...        ...
15531  88.995880  91.981097  67.973713  67.992262   52.011452  57.998105
15532  78.017692  96.014958  77.979503  65.033254   76.982016  73.004688
15533  87.023768  90.975108  77.962480  78.013567   57.001004  69.050229
15534  88.033163  94.005008  86.971054  77.055977   66.995914  87.964734
15535  84.975071  96.046621  93.015392  84.003103   97.973654  91.002554

        WQI Turb                 Location 1
0      69.000000  POINT (-123.1771 47.3098)
1      80.000000  POINT (-123.1771 47.3098)
2      49.000000  POINT (-123.1771 47.3098)
3      71.000000  POINT (-123.1771 47.3098)
4      87.000000  POINT (-123.1771 47.3098)
...          ...                        ...
15531  75.017654  POINT (-123.1786 46.1906)
15532  81.004699  POINT (-122.2937 47.2026)
15533  81.976140  POINT (-122.0028 47.8037)
15534  93.024437  POINT (-120.1143 48.3593)
15535  92.007410  POINT (-119.3264 45.9338)

[15536 rows x 13 columns]

In [40]:
df

,Station,Station Name,Year,Overall WQI,WQI FC,WQI Oxy,WQI pH,WQI TSS,WQI Temp,WQI TPN,WQI TP,WQI Turb,Location 1
0,16A070,Skokomish R nr Potlatch,1996.0,87.000000,91.000000,85.000000,95.000000,78.000000,81.000000,99.000000,84.000000,69.000000,POINT (-123.1771 47.3098)
1,16A070,Skokomish R nr Potlatch,1997.0,86.000000,78.000000,84.000000,77.000000,85.000000,90.000000,99.000000,72.000000,80.000000,POINT (-123.1771 47.3098)
2,16A070,Skokomish R nr Potlatch,1998.0,75.000000,90.000000,79.000000,88.000000,61.000000,90.000000,98.000000,71.000000,49.000000,POINT (-123.1771 47.3098)
3,16A070,Skokomish R nr Potlatch,1999.0,87.000000,88.000000,80.000000,88.000000,75.000000,95.000000,100.000000,79.000000,71.000000,POINT (-123.1771 47.3098)
4,16A070,Skokomish R nr Potlatch,2000.0,95.000000,93.000000,86.000000,96.000000,84.000000,90.000000,100.000000,84.000000,87.000000,POINT (-123.1771 47.3098)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15531,25F060,Mill Cr. nr mouth,2011.0,61.979560,85.020537,88.995880,91.981097,67.973713,67.992262,52.011452,57.998105,75.017654,POINT (-123.1786 46.1906)
15532,10A070,Puyallup R @ Meridian St,2007.0,65.000532,76.004566,78.017692,96.014958,77.979503,65.033254,76.982016,73.004688,81.004699,POINT (-122.2937 47.2026)
15533,07D050,Snoqualmie R nr Monroe,2005.0,80.001807,77.992214,87.023768,90.975108,77.962480,78.013567,57.001004,69.050229,81.976140,POINT (-122.0028 47.8037)
15534,48A140,Methow R @ Twisp,2001.0,79.004809,66.986762,88.033163,94.005008,86.971054,77.055977,66.995914,87.964734,93.024437,POINT (-120.1143 48.3593)
15535,31A070,Columbia R @ Umatilla,2007.0,93.006331,84.006436,84.975071,96.046621,93.015392,84.003103,97.973654,91.002554,92.007410,POINT (-119.3264 45.9338)

In [33]:
df.to_csv('waterquality.csv', index=False)

In [32]:
df.isna().sum()

Station         0
Station Name    0
Year            0
Overall WQI     0
WQI FC          0
WQI Oxy         0
WQI pH          0
WQI TSS         0
WQI Temp        0
WQI TPN         0
WQI TP          0
WQI Turb        0
Location 1      0
dtype: int64